.create-sch .row {
  justify-content: center;
  padding-top: 10px;
}

input.custom-control-input {
  top: 2px;
  width: 1.25rem;
  height: 1.25rem;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #5e7084;
  cursor: pointer;
  border-radius: 0.25rem;
  vertical-align:middle;
  margin-right: 4px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  &:checked {
    background-color: var(--rs-picker-value);;
    border: 2px solid var(--rs-picker-value);;
  }
}

.create-sch .custom-control-label {
  color: #b7b7b7;
  height: 1.75rem;
  min-inline-size: auto;
}

.create-sch .card-title {
  color: #fff;
}
