.create-sch {
  & .row {
    justify-content: center;
    padding-top: 10px;
  }

  & .custom-control-label {
    color: #b7b7b7;
    height: 1.75rem;
    min-inline-size: auto;
  }

  & .card-title {
    color: #fff;
  }

  & .create-btn {
    height: 100px;
    width: 150px;
    position: fixed;
    bottom: 40px;
    right: 40px;
  }

  & .sched-progress {
    max-width: 100%;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding-top: 1%;
    border-radius: 50%;
    box-shadow: 0px 5px 10px #888888;
  }
}

input.custom-control-input {
  top: 2px;
  width: 1.25rem;
  height: 1.25rem;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #5e7084;
  cursor: pointer;
  border-radius: 0.25rem;
  vertical-align: middle;
  margin-right: 4px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  &:checked {
    background-color: var(--rs-picker-value);
    border: 2px solid var(--rs-picker-value);
  }
}
