.schedules {
  & .create-sch-btn {
    margin: 20px;
    min-width: inherit;
    height: fit-content;
  }

  & .schedules-heading {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;

    &:after {
      background: #fff;
      height: 2px;
      flex: 1;
      content: '';
    }

    &:before {
      background: none;
    }

    & span {
      color: #fff;
      margin: 0 15px;
    }
  }

  & .schedule {
    justify-content: center;

    & .card-header {
      border-color: #bfbfbf;
    }

    & .heading {
      color: #fff !important;
    }

    & .skills {
      color: #bfbfbf;
    }

    & .list-group-item {
      background-color: inherit;
      & a {
        text-decoration: none;
        &:active {
          text-decoration: none;
        }
      }
    }
  }

  & .schedule-btns {
    display: flex;
    min-width: 150px;
  }
}
